<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="static/about.css">
</head>
<body>
	<header>
		<nav>
			<div class="row clearfix">
				<ul class="main">
					<li><a href="{{ url_for('home') }}">HOME</a></li>
					<li><a href="{{ url_for('about') }}">ABOUT US</a></li>
					<li><a href="{{ url_for('support') }}">SUPPORT</a></li>

				</ul>
			</div>
		</nav>
		<div class="main_content">
		<h1 class="color" align="center">About Us.</h1>
	</div>

	<p class="main1">
		
		
		<center>
			We are students of Btech, AI&DS department, have developed a project to estimate obesity o individual base on their habits an various other factors.<br>
			It is a machine learning model trained on dataset that we have gathered from kaggle(source).<br>
			<br>
		Shrushti Kadam	:	22010542<br>
		Abhishek Walunj	:	22010286<br>
		Om Suryawanshi	:	22120071<br>
		Piyush Upwar	:	22010485<br></center>
	</p>
	</header>
</body>
</html>